.goBack .link {
    font-size: 20px;
    color: #e9b149;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: flex-start;
}

.goBack i {
    margin-top: 5px;
}

.item {
    opacity: 0.9;
    margin-top: 40px;
    margin-bottom: 26px;
    padding: 0 5px;
    transition: all 0.3s;
}

.item:hover .pi-pic .icon {
    top: 10px;
    opacity: 1;
}

.item:hover .pi-pic ul {
    bottom: -20px;
}

.item .pi-pic {
    overflow: hidden;
    position: relative;
}

.item .pi-pic img {
    height: auto;
    min-width: 100%;
    padding: 5px 5px 0;
    background-color: #E7AB3C;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    -moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
    -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
}

.item .pi-pic .sale {
    color: #ffffff;
    font-size: 10px;
    background: #76BC42;
    position: absolute;
    left: 5px;
    top: 20px;
    border-radius: 2px;
    padding: 5px 10px;
    text-transform: uppercase;
}

.item .pi-pic .sale.pp-sale {
    background: #e7ab3c;
}

.item .pi-pic .icon.like {
    top: 4px;
    right: 4px;
}

.item .pi-pic .icon {
    font-size: 20px;
    color: #252525;
    position: absolute;
    right: 21px;
    top: -15px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0;
}

.item .pi-pic ul {
    margin-inline-start: 0px;
    position: absolute;
    left: 0;
    bottom: -90px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    width: 100%;
}

.item .pi-pic ul li {
    list-style: none;
    display: inline-block;
    background: #ffffff;
}

.item .pi-pic ul li.w-icon.active a {
    background: #e7ab3c;
    color: #ffffff;
}

.item .pi-pic ul li a {
    font-size: 16px;
    font-weight: 700;
    color: #252525;
    display: block;
    padding: 16px 18px 12px 19px;
}

.item .pi-text {
    text-align: left;
    padding-left: 9px;
    padding-top: 5px;
}

.item .pi-text .catagory-name {
    font-size: 10px;
    color: #b2b2b2;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.item .pi-text a {
    display: block;
}

.item .pi-text h3 {
    margin-top: 10px;
    font-size: 18px;
    color: #252525;
}

.item .pi-text a h5 {
    font-size: 22px;
    color: #252525;
}

.item .pi-text h6 {
    margin-top: 10px;
    font-size: 16px;
    color: #76BC42;
}

.item .pi-text .product-price {
    color: #e7ab3c;
    font-size: 20px;
    font-weight: 700;
}

.item .pi-text .product-price span {
    font-size: 14px;
    font-weight: 400;
    color: #b2b2b2;
    text-decoration: line-through;
}

.btn-outline-warning:not(:disabled):not(.disabled).active,
.btn-outline-warning:not(:disabled):not(.disabled):active {
    background: #efefef;
    color: #212529;
}

.btn:focus,
div.add_to_cart .btn:active {
    outline: none;
    border-width: 1px;
    box-shadow: 0 0 0 0.1rem rgba(255, 193, 7, .5)!important;
}

@media (max-width: 767px) {
    .item .pi-pic ul li a {
        padding: 16px 13px 12px 13px;
    }
    .item .pi-pic ul li:nth-child(even) a {
        padding: 16px 8px 12px 8px;
        font-size: 13px;
    }
}
